<div class="main-container">
    <div id="main-content" class="main-content">
        <check-out-menu></check-out-menu>
        <router-outlet></router-outlet>
    </div>
    <div id="sidecart" class="sidecart">
        <div id="inner-side" class="inner-side">
            <div class="summary-head">
                <h1>Order Summary</h1>
            </div>
            <div class="summary">
                <div class="summary-items">
                    <div *ngFor="let cat of basket | async" class="item">
                        <span class="name-img">
                            <img [src]="cat.imageUrl" alt="">
                            <span>{{cat.name}}</span>
                        </span>
                        <!-- <span class="name">
                            <span>{{cat.name}}</span>
                        </span> -->
                        <span class="qp"><span>{{cat.qty}} x {{cat.price | currency: 'GBP': code}}</span>  <span>{{cat.qty * cat.price | currency: 'GBP': code}}</span></span>
                        <!-- <span>{{cat.qty * cat.price | currency: 'GBP': code}}</span> -->
                    </div>
                </div>
            </div>
            <div class="total">
                <div class="sub-total-ship">
                    <div class="sub">
                        <span>Subtotal</span>
                        <span>{{totalPrice | currency: 'GBP': code}}</span>
                    </div>
                    <div class="ship">
                        <span>Shipping</span>
                        <span>{{ship | currency: 'GBP': code}}</span>
                    </div>
                </div>
                <div class="ground-total">
                    <span>Total</span>
                    <span>{{totalPrice + ship | currency: 'GBP': code}}</span>
                </div>                
            </div>
        </div>
    </div>
</div>