.primary-nav{
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}
.side-bar{
    position: fixed;
    top: 60px;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    .item{
        background-color: lighten(#12887a, 0%);
        background: linear-gradient(to right, #12887a, #ffffff);
        padding: 10px;
        margin-bottom: 2px;
    }
}